.anime-details {
    width: 80%;
    // height: 670px;
    background-color: #1b2634;
    margin: 50px auto;
    padding: 50px;

    &-navbar {
        width: 100%;
        height: 40px;
        background-color: #20e28c;
        ul {
            
            height: 100%;
            display: flex;
            justify-content: center;
            list-style-type: none;
            cursor: pointer;
            li {
                width:80px;
                height: 100%;
                color: rgb(37, 50, 64);
                transform: 0.5s;
                padding: 8px;
                text-align: center;
                &:hover {
                    background: rgb(37, 50, 64);
                    color: #20e28c;
                }
            }
        }
    }

    &-window{

        &-about{
            display: flex;
            justify-content: center;

            &-image {
                width:30%;
                height: 100%;
                padding: 65px;
                padding-top: 70px;
                border-right: 1px solid rgba(79, 89, 99, 0.3);
                position: relative;

                .innerImage {
                    width: 209px;
                    position: relative;
                    display: block;
                    margin: 0 auto;
                }

                img {
                    max-width: 210px;
                    width:100%;
                    height: 315px;
                    display: block;
                    margin: 0 auto;
                }

                &-head {

                    margin-top: 11px;
                    text-align: center;

                    &-date {
                        color: rgba(107, 117, 133, 0.9);
                    }
                    &-name {
                        color:white;
                    }
                }

                &-rating {
                    width: 42px;
                    height: 42px;
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    background-color: rgba(32,226,140, 0.8);
                    border-radius: 50%;
                    padding-left: 6px;
                    padding-top: 10px;
                    // p {
                    //     padding-left: ;
                    // }
                }
                
            }
    
    
            &-specs {
                width: 70%;
                height: 100%;
                padding: 100px;

                h1 {
                    color: white;
                }

                .inner-slash {
                    color : #20e28c;
                }
                &-inner {
                    margin-top: 10px;
                    p{
                        margin-bottom: 10px;
                        color: white;
                        line-height: 22px;
                        span {
                            color: rgba(107, 117, 133, 0.9);

                            a {
                                color: rgba(107, 117, 133, 0.9);
                            }
                        }
                    }
                }
            }
        }

        &-trailer {
            width: 80%;
            margin: 20px auto;
           iframe {
               border: none;
                width:100%;
                height: 600px
           }
        }
    }
}
.disabled {
    display: none;
}
.is_active {
    background: rgb(37, 50, 64);
    color: #20e28c !important;
}

@media only screen and (max-width: 1365px) {
    .anime-details {
        width: 100%;
        padding: 13px;
    }
    .anime-details-window{
        
        &-about{
            display: flex;
            // justify-content: center;
            flex-direction: column;
            
            &-image {
                width:100%;
                height: 100%;
                padding: 35px;
                padding-top: 70px;
                border: none;


                &-head {
                    margin-top: 6px;
                    padding-top: 15px;
                    &-date {
                        text-align: center;
                    }
                    &-name {
                        text-align: center;
                    }
                }
            }

            &-specs {
                width: 100%;
                height: 100%;
                padding: 24px;

                h1 {
                    text-align: center;
                    word-wrap: break-word;
                }

                .inner-slash {
                    color : #20e28c;
                }
                &-inner {
                    margin-top: 10px;
                    p{
                        word-wrap: break-word;
                    }
                }
            }
        }

        &-trailer {
            width: 100%;
            margin: 20px auto;
           iframe {
               border: none;
                width:100%;
                height: 600px
           }
        }
        .disabled {
            display: none;
        }
    }
}
