<div class="navbar">
    <div class="navbar-logo">
        <a routerLink="/anime" class="navbar-logo-text">
            MOV<span>.</span>
        </a>
    </div>
    <div class="navbar-search">
        <form #f="ngForm" (ngSubmit)="onSearch(f)">
            <button type="submit" class="navbar-links-search-submit"><fa-icon [icon]="faSearch"></fa-icon></button>
            <input type="text" name="animeSearch" id="animeSearch" class="navbar-search-input" placeholder="Search something here..." ngModel>
        </form>
    </div>
    <div class="navbar-links">
        <div class="loggedin" [ngClass]="{ disabled: !isLoggedin }">
            <div class="navbar-links-username">
                <p class="navbar-links-username-hello">Hello,</p>
                <p class="navbar-links-username-nametext">{{ user?.displayName }}</p>
            </div>
            <div class="navbar-links-profilepic"></div>
            <div class="navbar-links-logout">
                <button (click)="logout()">Logout</button>
            </div>
        </div>
        <div class="loggedout" [ngClass]="{ disabled: isLoggedin }">
            <div class="navbar-links-login" >
                <button (click)="navtoAuth()">Login <span>/</span> Submit</button>
            </div>
        </div>
    </div>
    <div class="navbar-mobile" [ngClass]="getActive()" #dropdown>
        <div class="navbar-mobile-loggedin" [ngClass]="{ disabled: !isLoggedin }">
            <div class="navbar-mobile-profilepic"></div>
            <div class="navbar-mobile-username">
                Hello, <span>{{ user?.displayName }}</span>
            </div>
        </div>
        <div class="navbar-mobile-loggedout" [ngClass]="{ disabled: isLoggedin }">
            <div class="navbar-links-login" >
                <button (click)="navtoAuth()">Login <span>/</span> Submit</button>
            </div>
        </div>
        <div class="navbar-mobile-logout" [ngClass]="{ disabled: !isLoggedin }">
            <button (click)="logout()">Logout</button>
        </div>
        <form #f1="ngForm" (ngSubmit)="onSearch(f1)">
            <button type="submit" class="navbar-links-search-submit"><fa-icon [icon]="faSearch"></fa-icon></button>
            <input type="text" name="animeSearch" id="animeSearch" class="navbar-search-input" placeholder="Search something here..." ngModel>
        </form>
    </div>
    <button class="navbar-hamburger" name="ham-button" [ngClass]="getActive()" (click)="toggleHam()">
        <div class="navbar-hamburger-bar">
        </div>
    </button>
</div>