@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
.navbar {
    width: 100%;
    height: 110px;
    // border:1px solid black;
    background-color: #1b2634;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0 ;
    z-index: 99;
    &-logo{
        // float:left;
        height: 100%;
        padding-top: 25px;
        margin-left: 16px;

        &-text{
            color: white;
            text-decoration: none;
            font-weight: 700;
            transition-duration: 0.4s;
            font-size: 40px;
            font-family: 'Roboto Condensed', sans-serif;
            span {
                color: #20e28c;
            }
        }
    }

    &-search {
        margin-right: 50px;
        position: relative;
        padding-top: 25px;
        height: 100%;
        width: 70%;
        // margin
        &-input {
            padding: 15px;
            width: 266px;
            outline: none;
            border: none;
            background-color: transparent;
            color: white;
            font-size: 20px;

            &::placeholder {
                font-style: italic;
                // color: #323e4a;
                color:grey;
                font-size: 20px;
                font-weight: lighter;
            }
            
        }
        button {
            background-color: transparent;
            border: none;
            outline: none;
        }
        
        fa-icon {
            color:rgba(32,226,140, 0.3);
            font-size: 20px;
        }

        &:hover {
            fa-icon {
                color:rgba(32,226,140, 0.8)
            }
        }
    }
    .loggedin{
        display: flex;
        justify-content: space-between;
        margin-right: 16px; 
        padding-left:10px;
    }
    &-links {
        border-left: 1px solid rgba(79,89,99, 0.3);
        padding-top: 22px;
        width: 290px;
        height: 100%;
        &-username {
            width: 36%;
            &-hello {
                margin-top: 10px;
                text-align: right;
                color:grey;
                font-size: 15px;
                width: 25%;
            }

            &-nametext {
                color:white;
                word-wrap: break-word;
            }
        }

        &-profilepic {
            width: 70px;
            height: 70px;
            border: 3px solid #20e28c;
            border-radius: 50%;
            background-image: url("https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
            background-size: cover;
        }

        &-logout {
            margin-top:13px;
            button {
                background-color: #20e28c;
                color: #253240 !important;
                outline: none;
                border: none;
                padding:10px;
                cursor: pointer;
                &:hover {
                    background-color: #253240;
                    color: #20e28c !important;
                }
            }
            
        }

        &-login {
            button {
                width:150px;
                padding:8px;
                margin: 0px auto;
                display: block;
                margin-top: 10px;
                outline: none;
                border: none;
                color: #253240 !important;
                background-color: #20e28c;
                border-radius: 3px;
                cursor: pointer;
                font-size: 13px;
                font-weight: 500;
                &:hover {
                    color: #20e28c !important;
                    background-color: #253240;
                }
            }
        }
        
    }
    &-hamburger {
        position: relative;
        display: block;
        width: 52px;
        height: 35px;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
        z-index: 99;
        &-bar, &::after, &::before {
            content: '';
            display: block;
            width: 68%;
            height: 5px;
            background-color: #fff;
            margin: 6px 0px;
            transition: 0.4s;
        }
    }
    &-hamburger.is-active::before {
        transform: rotate(-45deg) translate(-8px, 6px);
    }   
    &-hamburger.is-active::after {
        transform: rotate(45deg) translate(-9px, -8px);
    }
    &-hamburger.is-active &-hamburger-bar{
        opacity: 0;
    }

    &-mobile {
        width: 100%;
        height: 384px;
        background: #253240;
        position: fixed;
        top: 110px;
        right: 0px;
        display: none;
        z-index: 98;
        transition: 0.4s;
        border: 1px solid #20e28c;


        &-loggedout {
            button {
                position: relative;
                top:57px;
                background-color: #20e28c;
                color: #253240 !important;

                &:focus {
                    background-color: #253240;
                    color: #20e28c !important;
                }
            }
        }

        

        &-profilepic {
            width: 70px;
            height: 70px;
            border: 3px solid #20e28c;
            border-radius: 50%;
            margin: 0 auto;
            position: relative;
            top: 50px;
            background-image: url("https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
            background-size: cover;
        }

        &-username {
            width: 50%;
            margin: 0 auto;
            color: white;
            text-align: center;
            position: relative;
            top: 90px;
        }

        &-logout {
            margin-top:13px;
            position: relative;
            top: 103px;
            height:38px;
            width: 105px;
            margin: 0 auto;
            button {
                background-color: #20e28c;
                color: #253240 !important;
                outline: none;
                border: none;
                padding:10px;
                width:100%;
                cursor: pointer;
                &:hover {
                    background-color: #253240;
                    color: #20e28c !important;
                }
            }
        }

        form {
            position: relative;
            top: 113px;
            width: 64%;
            margin: 0 auto;
            display: flex;

            &-input {
                padding: 15px;
                width: 266px;
                outline: none;
                border: none;
                background-color: transparent;
                color: white;
                font-size: 20px;
    
                &::placeholder {
                    font-style: italic;
                    // color: #323e4a;
                    color:grey;
                    font-size: 20px;
                    font-weight: lighter;
                }
                
            }

            button {
                background-color: transparent;
                border: none;
                outline: none;
            }

            fa-icon {
                color:rgba(32,226,140, 0.3);
                font-size: 20px;
            }
    
            &:hover {
                fa-icon {
                    color:rgba(32,226,140, 0.8)
                }
            }
        }
    }
    &-mobile.is-active {
        display: block;
    }

}
.disabled {
    display: none !important;
}
@media only screen and (max-width: 600px) {
    .navbar-search {
      display: none;
    }
    .navbar-links {
       display: none;
    }
}
@media only screen and (min-width: 600px) {
    .navbar-mobile, .navbar-hamburger {
        display: none;
    }
}