.anime {
    
    &-head {
        width: 80%;
        margin: 43px auto;
        &-title {
            font-size: 32px;
            width: 50%;
            p {
                color: white;
                
            }
        }
    
        &-filter {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            span {
                display: inline-block;
                color: rgba(79, 89, 99, 0.9);
                margin-right: 50px;
                margin-top: 17px;
            }
    
            // width: 90%;
            // margin: 5px auto;
            margin-bottom: 60px;
    
            select {
               font-size: 1.0rem;
                padding: 1em 3rem;
                background-color: #20e28c;
                color: rgb(79,89,99);
                border: 0;
                border-radius: 24px;
                outline: none;
    
                option {
                    padding: 0.5em 1rem;
                }
            }
        }    
    }
    &-pagination {
        width: 60%;
        margin: 2rem auto 1rem;
        border-top: 1px solid rgba(79,89,99, 0.3);
        border-bottom: 1px solid rgba(79,89,99, 0.3);
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        &-page{
            // padding: 10px;
            background-color: #20e28c;
            
            button {
                width: 100%;
                height: 100%;
                padding: 10px;
                cursor: pointer;
                background-color: transparent;
                border: none;
            }

            &:hover {
                background-color: #1b2634;

                button {
                    color: #20e28c;
                }
            }
        }
    }

    &-row {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        margin: 10px auto;
        // grid-template-columns: repeat(6, 1fr);
        row-gap: 20px;

        &-item{
            // margin-bottom: 57px;
            padding: 20px;
            &-card {
                
                width: 216px;
                height: 348px;                
                transition-duration: 0.2s;
                position: relative;

                &-image {
                    img{
                        width: 210px;
                        height: 315px;
                        border-radius: 10px;
                    }
                }

                &-rating {
                    width: 42px;
                    height: 42px;
                    position: absolute;
                    top: 8px;
                    bottom: 2px;
                    right: 8px;
                    background-color: rgba(32,226,140, 0.8);
                    border-radius: 50%;
                    padding-left: 6px;
                    padding-top: 10px;
                    // p {
                    //     padding-left: ;
                    // }
                }

                &-details {
                    &-date {
                        color: rgba(107, 117, 133, 0.9);
                    }
                    &-name {
                        color:white;
                    }
                }
                &:hover{
                    // text-shadow: 0 0 5px rgba(255,255,255,2);
                    transform: scale(1.1);
                    // border: 3px solid #919191;
                }
            }
        }
    } 
}
.activeButton {
    background-color: #1b2634 !important;
    color: #20e28c !important;

}
@media only screen and (max-width: 600px) {
    .anime {
        &-head {
            margin: 27px auto;
            &-title {
                font-size: 24px;
                width: 80%;
                margin: 0px auto;
                text-align: center;
            }
            &-filter{
                flex-direction: column;
                margin: 0px auto;
                width: 80%;
                text-align: center;
                span {
                    margin-bottom: 14px;
                    text-align: center;
                }
                select {
                    padding: 10px 2rem;
                }
            }
        }
    }
}