
<div class="anime-filter">
    <select name="filter" id="filter" [(ngModel)]="filterSelect" (change)="filterChangeService()">
        <option value="bypopularity">By Popularity</option>
        <option value="favorite">Favorite</option>
        <option value="airing">Airing</option>
        <option value="upcoming" >Upcoming</option>
        <option value="tv">Tv</option>
        <option value="movie">Movie</option>
        <option value="ova">Ova</option>
        <option value="special">Special</option>
    </select>
</div>
<div class="anime-row">
    <div class="anime-row-item" *ngFor="let anime of animeList;">
        <div class="anime-row-item-card" (click)="setAnimeDetailToService(anime, anime.mal_id)">
            <a class="anime-row-item-card-image">
                <img class="img-responsive" src="{{ anime.image_url }}" alt="{{ anime.title }}">
            </a>
            <div class="anime-row-item-card-details">
                <p>{{ anime.title | wordCut }}</p>
            </div>
        </div>
    </div>
</div>
<hr>
    <div class="anime-pagination">
        <div class="anime-pagination-page">
            <button (click)="paginate(-1)">&laquo;</button>
        </div>
        <div class="anime-pagination-page" *ngFor="let j of [].constructor(6); let i = index;">
            <button (click)="paginate(i+1)" [ngClass]="{ activeButton : currentPage == i+1 }">{{ i+1 }}</button>
        </div>
        <!-- <div class="anime-pagination-page">
            <button (click)="paginate(1)" [ngClass]="{ activeButton : currentPage == 1 }">1</button>
        </div>
        <div class="anime-pagination-page">
            <button (click)="paginate(2)" [ngClass]="{ activeButton : currentPage == 2 }">2</button>
        </div>
        <div class="anime-pagination-page">
            <button (click)="paginate(3)" [ngClass]="{ activeButton : currentPage == 3 }">3</button>
        </div>
        <div class="anime-pagination-page">
            <button (click)="paginate(4)" [ngClass]="{ activeButton : currentPage == 4 }">4</button>
        </div>
        <div class="anime-pagination-page">
            <button (click)="paginate(5)" [ngClass]="{ activeButton : currentPage == 5 }">5</button>
        </div>
        <div class="anime-pagination-page">
            <button (click)="paginate(6)" [ngClass]="{ activeButton : currentPage == 6 }">6</button>
        </div> -->
        <div class="anime-pagination-page">
            <button (click)="paginate(0)">&raquo;</button>
        </div>
    </div>
    <hr>