.anime {
    width: 216px;
    height: 348px;
    // border: 3px solid transparent;
    
    transition-duration: 0.2s;
    &-image {
        img{
            width: 210px;
            height: 315px;
            border-radius: 20px;
        }
    }

    &-details {
        text-align: center;
        p {
            color: white;
        }
    }
    &:hover{
        text-shadow: 0 0 5px rgba(255,255,255,2);
        transform: scale(1.1);
        // border: 3px solid #919191;
    }
    
}