<div class="movie-container">
    <div class="movie-container-row">
        <div class="movie-cotainer-item" *ngFor="let anime of animeList">
            <app-movie [anime]="anime"></app-movie>
        </div>
    </div>
    <!-- <div class="movie-container-row">
        <div class="movie-cotainer-item">
            <app-movie></app-movie>
        </div>
        <div class="movie-cotainer-item">
            <app-movie></app-movie>
        </div>
        <div class="movie-cotainer-item">
            <app-movie></app-movie>
        </div>
        <div class="movie-cotainer-item">
            <app-movie></app-movie>
        </div>
    </div> -->
    <hr>
</div>