<div class="anime-container">
    <div class="anime-container-filter">
        <select name="filter" id="filter" [(ngModel)]="filterSelect" (change)="filterLoad()">
            <option value="bypopularity">By Popularity</option>
            <option value="favorite">Favorite</option>
            <option value="airing">Airing</option>
            <option value="upcoming" >Upcoming</option>
            <option value="tv">Tv</option>
            <option value="movie">Movie</option>
            <option value="ova">Ova</option>
            <option value="special">Special</option>
        </select>
    </div>
    <div class="anime-container-row">
        <div class="anime-cotainer-item" *ngFor="let anime of animeList;">
            <app-anime [anime]="anime"></app-anime>
        </div>
    </div>
    <!-- <div class="anime-container-row">
        <div class="anime-cotainer-item">
            <app-anime></app-anime>
        </div>
        <div class="anime-cotainer-item">
            <app-anime></app-anime>
        </div>
        <div class="anime-cotainer-item">
            <app-anime></app-anime>
        </div>
        <div class="anime-cotainer-item">
            <app-anime></app-anime>
        </div>
    </div> -->
    <hr>
</div>